.strip {
    width: 100%;
    background-color: var(--color-primary-offset);
    color: var(--color-primary-text);
    padding-top: 90px;
    padding-bottom: 90px;
    font-family: "Roboto", sans-serif;
    &__content {
        padding-bottom: 50px !important;
        padding-top: 50px !important;
        h2 {
            padding-top: 50px !important;
            font-size: 36px;
        }
        p {
            font-size: 22px;
            color: inherit;
            margin-top: 10px;
        }
        button {
            margin-top: 10px;
            white-space: nowrap;
            display: inline-block;
            padding: 8px 20px 9px;
            border-width: 1px;
            border-style: solid;
            border-color: var(--color-primary);
            background-color: var(--color-primary);
            color: var(--color-primary-text);
            border-radius: 3px;
            font-weight: 500;
            text-decoration: none;
            transition: all .15s linear;
            outline: none;
            font-size: 16px;
        }
    }
}